<html>
<head>
    <link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
</head>
<body>
    <span id="width" class="width-container"></span>
    <header class="wrapper">
        <a href="#" class="logo">food_love</a>
        <nav>
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero-left wrapper">
        <h1>Food with Love</h1>
        <p>'cause You know what the love goes trough</p>
        <a href="#" class="cta-btn">Download app</a>
    </div>
    <img src="https://images.unsplash.com/photo-1619073181529-93e12b4f9a29?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxOTY4MDQ5Mg&ixlib=rb-1.2.1&q=85" alt="healthy dessert">

    <section class="wrapper">
        <ul class="testimonials">
            <li>
                <figure>
                    <blockquote>"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor"</blockquote>
                    <figcaption>- John Doe</figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <blockquote>"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor"</blockquote>
                    <figcaption>- Jane Doe</figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <blockquote>"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor"</blockquote>
                    <figcaption>- Joe Doe</figcaption>
                </figure>
            </li>
        </ul>
    </section>
</body>

</html>